<div class="about_page">
    <div class="main">
        <h1>About Us</h1>
        <img src="https://pics.freeicons.io/uploads/icons/png/11547449341548234989-512.png" alt="avatar" class="about_image">
        
        <h5>Web project - Fruity Loop</h5>
        <p>This is our project work for the web development course. "Fruity Loop" is a web shop. Team Members: Phytoo, Pes and This guy has no chill.
        </p>
        <a href="" target="_blank"><img src="https://github.githubassets.com/images/modules/logos_page/Octocat.png" alt="github" class="github"></a>
        <a href="https://instagram.com" target="_blank"><img src="https://www.pngkey.com/png/full/283-2831746_insta-icon-instagram.png" alt="instagram" class="instagram"></a>
    </div>
</div>
