@media screen and (min-width: 768px) {
    .compare-bar-content {
        text-align: center
    }
    .header-mobile-nav-wrapper {
        display: none
    }
    .mobil-shopping-cart {
        display: none
    }
}
